<h1>Add food form</h1>

  <%= form_with model: @foods , url: foods_path, data: {turbo: false} do |f|%>
    <div class="form__container">
      <div class="form_control">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="form_control">
        <%= f.label :measurement_unit %>
        <%= f.text_field :measurement_unit %>
      </div>
      <div class="form_control">
        <%= f.label :price %>
        <%= f.text_field :price %>
      </div>
      <div class="form_control">
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
      </div>

      <%= f.submit %>
    <div>
  <% end %>